@font-face{
    font-family: 'circular std';
    src: url(circular-std-medium-500.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box 0;
    /* overflow-x: hidden; */
}
.container{
    width: 100%;
    /* overflow-x: hidden; */
}
header{
    display: flex;
    gap: 250px;
    padding-top: 20px;
    background-color: white;
    height: 50px;
    width: 100%;
}
.hamburger{
    display: none;
}
.logo{
    margin-left: 100px;
}
ul{
    display: flex;
    gap: 40px;
    font-family: circular std;
    font-size: 18px;
    font-weight: 450;
    line-height: 22.77px;
    text-align: right;
    color:#60E1CB;
}
li span{
    color: black;
}
a li{
    list-style: none;
}
ul a{
    text-decoration: none;
    color: #60E1CB;
}
.headbtn{
    width: 188.49px;
height: 40px;
border: none;
border-radius: 30px;
background-color: #7BC0E3;
margin-bottom: 35px;
}
.headbtn a{
    color: white;
    font-family: Circular Std;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
}
.group{
    background-color:#60E1CB;
}
.group img{
    width: 500px;
}
.group h1{
    font-family: Circular Std;
font-size: 58px;
font-weight: 900;
line-height: 65.25px;
letter-spacing: -0.015em;
text-align: center;
margin-top: -50px;
margin-bottom: 19px;
}
.group h6{
    font-family: DM Sans;
font-size: 20px;
font-weight: 500;
line-height: 31.44px;
text-align: center;
opacity: 50%;
padding-bottom: 160px;
}
.services{
    margin-top: -70px;
    margin-left: 55px;
    background-color: #E9FBF8;
    /* width: 1349px; */
    /* padding-top: 118px; */
    /* padding-bottom: 100px; */
    border-radius: 50px;
    position: relative;
    z-index: 1;
    width: 80%;
    padding: 80px;
    margin-bottom: 84px;
}
.head{
    text-align: center;
}
.head h2{
    font-family: Circular Std;
font-size: 48px;
font-weight: 700;
line-height: 60.72px;
margin-bottom: 25px;
}
.head h6{
    font-family: DM Sans;
font-size: 20px;
font-weight: 400;
line-height: 20.44px;
margin-bottom: 40px;
}
.boxes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 70px;
}
.box1{
    background-color: #FDFDFF;
    padding: 25px;
    border-radius: 5px;
    width: 255px;
    height: 250px;
    margin-bottom: 50px;
    border-top-color: #60E1CB;
    border-style: solid;
    border-bottom-color: #FFFFFF;
    border-left-color: #FFFFFF;
    border-right-color: #FFFFFF;
}
.box1 img{
    width: 40px;
    height: 35px;
    padding-bottom: 32px;
}
.box1 h4{
    font-family: Circular Std;
font-size: 19px;
font-weight: 700;
line-height: 25.3px;
padding-bottom: 25px;
}
.box1 p{
    font-family: DM Sans;
font-size: 14px;
font-weight: 500;
line-height: 20.83px;
padding-bottom: 30px;
}
.box1 h6{
    font-family: DM Sans;
font-size: 14px;
font-weight: 700;
line-height: 18.23px;
color: #7BC0E3;
}
.RM h6 img{
    width: 24px;
    height:7px;
}

.banner{
    background-color: #60E1CB;
    top: -400px;
    width: 1349px;
}
.banner img{
    width:500px;
    height: 250px;
}
.contents h2{
    font-family: Circular Std;
font-size: 48px;
font-weight: 700;
line-height: 60.72px;
text-align: center;
padding-bottom: 25px;
}
.contents p{
    font-family: DM Sans;
font-size: 24px;
font-weight: 400;
line-height: 24.53px;
text-align: center;
padding-bottom: 80px;
}
.contents button{
    padding: 20px;
    border-radius: 40px;
    background-color: black;
    border: none;
    margin-left: 500px;
}
.contents button a{
    text-decoration: none;
    color: white;
    font-family: Poppins;
font-size: 22px;
font-weight: 600;
line-height: 33px;
}
button:hover , button.active{
    background-color: blue;
}
.vector2 img{
    margin-left: 797px;
    width: 549px;
}

.onlineprescence{
    display: flex;
    gap: 76px;
    margin-left: 10%;
    margin-top: 160px;
    margin-bottom: 160px;
}
.lefttexts h2{
    font-family: Circular Std;
    font-size: 30px;
    font-weight: 700;
    text-align: left;    
    margin-bottom: 29px;
}
.lefttexts p{
    font-family: DM Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 30px;
}
.group56 img{
    width: 200px;
    height: 200px;
    margin-left: -250px;
    position: absolute;
}
.right h3{
    text-decoration: none;
    font-family: Circular Std;
    font-size: 36px;
    font-weight: 700;
    margin-left: 40px;
    margin-bottom: 22px;
    color: #60E1CB;
}
.right img{
    width: 600px;
    position: relative;
    z-index: 1;
}
.Footer{
    background-color:#60E1CB;
    width: 1349px;
}
.footerall{
    display: flex;
    gap: 80px;
    padding: 80px;
}
.leftfooter h1{
    font-family: Circular Std;
    font-size: 32px;
    font-weight: 900;
    line-height: 40.48px;
    letter-spacing: 0.01em; 
}
.leftfooter a{
    text-decoration: none;
    color: black;
}
.leftfooter p{
    font-family: Circular Std;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    color: #292525;    
}
.rightfooter{
    display: flex;
    gap: 80px;
}
.work h5{
    font-family: Circular Std;
    font-size: 19px;
    font-weight: 700;
    line-height: 24.03px;
    margin-bottom: 25px;
}.work p{
   font-family: Circular Std;
font-size: 16px;
font-weight: 500;
line-height: 30px;
    margin-bottom: 6px;   
    opacity: 40%; 
}
.service h5{
font-family: Circular Std;
font-size: 19px;
font-weight: 700;
line-height: 24.03px;
margin-bottom: 25px;
}
.service p{
font-family: Circular Std;
font-size: 16px;
font-weight: 500;
line-height: 30px;
opacity: 40%;
margin-bottom: 6px;
}
.businesssolution h5{
    font-family: Circular Std;
font-size: 19px;
font-weight: 700;
line-height: 24.03px;
margin-bottom: 20px;
}
.businesssolution p{
    font-family: Circular Std;
font-size: 16px;
font-weight: 500;
line-height: 30px;
margin-bottom: 6px;
opacity: 40%;
}
select h5{
    border: none;
}
.Footer img{
    width: 1140px;
    margin-left: 120px;
    margin-bottom: 48px;
}
.lastpart{
    display: flex;
    margin-left: 115px;
    padding-bottom: 100px;
}
.lastpart h5{
    font-family: Circular Std;
font-size: 16px;
font-weight: 450;
line-height: 20.24px;
text-align: left;
padding-right: 850px;
}
.lastpart a{
    text-decoration: none;
    font-family: Circular Std;
font-size: 19px;
font-weight: 700;
line-height: 24.03px;
color: black;
padding-left: 29px;
}

        /* Responsiveness */
@media (max-width:1440px) {
    .hero{
        width: 100%;
    }
    .banner{
        width: 100%;
    }
    .onlineprescence{
        width: 100%;
    }
    .Footer{
        width: 100%;
    }
}

@media (max-width:1024px) {
    .hero{
        width: 100%;
    }
    header{
        gap: 100px;
    }
    .logo{
        margin-left: 60px;
    }
    ul{
        gap: 30px;
        font-size: 14px;
        line-height: 15px;
    }

    /* servicesection */
    .services{
        margin-left: 50px;
        padding: 50px;
    }
    .box1{
        width: 170px;
    }
    .box1 h4{
        font-size: 12px;
    }
    .box1 p{
        font-size: 9px;
    }

    /* bannersection */
    .banner{
        width: 100%;
    }
    .contents button{
        margin-left: 340px;
    }
    .vector2 img{
        margin-left: 463px;
    }

    /* .onlineprescencesection */
    .onlineprescence{
        width: 100%;
    }
    .lefttexts h2{
        font-size: 18px;
    }
    .lefttexts p{
        font-size: 10px;
        line-height: 20px;
    }
    .right h3{
        font-size: 25px;
    }
    .right img{
        width: 400px;
    }

    /* footersection */
    .Footer{
        width: 100%;
    }
    .footerall{
        gap: 22px;
        margin-left: 60px;
    }
    .leftfooter h1{
        font-size: 28px;
        margin-left: -30px;
    }
    .leftfooter p{
        font-size: 8px;
        margin-left: -30px;
        padding-right: 30px;
    }
    .rightfooter{
        gap: 50px;
    }
    .Footer img{
        width: 900px;
        margin-left: 60px;
    }
    .lastpart{
        margin-left: 70px;
    }
    .lastpart h5{
        padding-right: 600px;
    }
}

@media (max-width:768px) {
    .hero{
        width: 100%;
    }
    .logo{
        margin-right: 300px;
    }
    nav{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .group h1{
        font-size: 50px;
    }
    .group h6{
        font-size: 15px;
    }

    /* servicesection */
    .services{
        width: 80%;
        margin-left: 25px;
    }
    .head h2{
        font-size: 40px;
    }
    .head h6{
        font-size: 15px;
    }
    .boxes{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 20px;
    }
    .box1{
       width: 200px;
    }

    /* bannersection */
    .banner{
        width: 100%;
    }
    .contents button{
        margin-left: 200px;
    }
    .vector2 img{
        margin-left: 200px;
    }

    /* .onlineprescencesection */
    .onlineprescence{
        width: 100%;
        gap: 50px;
        display: block;
    }
    .lefttexts h2{
        text-align: center;
        font-size: 30px;
    }
    .lefttexts p{
        text-align: center;
        font-size: 13px;
        margin-bottom: 50px;
    }
    .right h3{
        text-align: center;
    }
    .right img{
        margin-left: 190px;
    }

    /* foottersection */
    .Footer{
        width: 100%;
    }
    
    .footerall{
        display: block;
    }
    .leftfooter h1{
        font-size: 32px;
        text-align: center;
    }
    .leftfooter p{
        font-size: 16px;
        text-align: center;
        margin-top: 20px;
    }
    .rightfooter{
        margin-top: 40px;
        gap: 20px;
        display: flex;
        }
        .work h5{
            font-size: 15px;
            margin-bottom: 10px;
        }
        .work p{
            font-size: 15px;
            line-height: 25px;
        }
        .service h5{
            font-size: 15px;
            margin-bottom: 10px;
        }
        .service p{
         font-size: 15px;
        line-height: 25px;
        }
        .businesssolution h5{
            font-size:15px;
            margin-bottom: 10px;
        }
        .businesssolution p{
            font-size: 15px;
            line-height: 25px;
        }
        .Footer img{
            width: 550px;
            margin-left: 75px;
            margin-bottom: 30px;
        }
        .lastpart{
            margin-left: 79px;
        }
        .lastpart h5{
            padding-right:320px;
            font-size: 14px;
        }
        .lastpart a{
            padding-left: 18px;
            font-size: 14px;
        }

}

@media (max-width:425px) {
    .hero{
        width: 100%;
    }
    .logo{
        margin-right: 20px;
    }
    .group{
        margin-top: 50px;
    }
    .group img{
        display: none;
    }
    .group h1{
        padding-top: 50px;
        font-size: 25px;
        margin-bottom: 10px;
    }
    .group h6{
        font-size: 10px;
    }

    /* servicesection */
    .services{
        width: 60%;
        /* padding: 40px; */
        margin-left: 30px;
    }
    .head h2{
        font-size: 30px;
        margin-bottom: 10px;
    }
    .head h6{
        font-size: 10px;
    }
    .boxes{
        display: grid;
        grid-template-columns: repeat(1, 1fr);  
        margin-left: -5px; 
    }

    /* bannersection */
    .banner{
        width: 100%;
        padding-top: 50px;
    }
    .banner img{
        display:none;
    }
    .contents h2{
        font-size: 30px;
        padding-bottom: 15px;
    }
    .contents p{
        font-size: 15px;
        padding-bottom: 30px;
    }
    .contents button a{
font-size: 15px;
    }
    .contents button{
        padding: 10px;
        margin-left: 92px;
        margin-bottom: 30px;
    }

    /* onlineprescencesection */
    .onlineprescence{
        width: 100%;
    }
    .lefttexts h2{
        /* text-align: center; */
        margin-left: -50px;
        font-size: 20px;
    }
    .lefttexts p{
        font-size: 10px;
        margin-left: -70px;
    }
    .right h3{
        margin-left: -50px;
        margin-bottom: 50px;
    }
    .right img{
        margin-left: -40px;
        width: 400px;
    }
    /* footersection */
    .Footer{
        width: 100%;
    }
    .rightfooter{
    display: block;
    }
    .Footer img{
        width: 300px;
        margin-left: 50px;
    }
    .lastpart{
        margin-left: 35px;
    }
    .lastpart h5{
        padding-right: 100px;
    }
}

@media (max-width:375px) {
    .container{
        overflow-y: hidden;
    }
    .hero{
        width: 100%;
    }
    .headlogo{
        margin-left: 5px;
    }
    .logo{
        /* margin-right: -15px; */
        margin-left: 15px;
    }
    .group{
        margin-top: 50px;
    }
    .group img{
        display: none;
    }
    .group h1{
        padding-top: 50px;
        font-size: 25px;
        margin-bottom: 10px;
    }
    .group h6{
        font-size: 8px;
    }

    /* servicesection */
    .services{
        width: 60%;
        margin-left: 23px;
    }
    .head h2{
        font-size: 30px;
        margin-bottom: 10px;
    }
    .head h6{
        font-size: 10px;
    }
    .boxes{
        display: grid;
        grid-template-columns: repeat(1, 1fr);  
        margin-left: -20px; 
    }

    /* bannersection */
    .banner{
        width: 100%;
        padding-top: 50px;
    }
    .banner img{
        display:none;
    }
    .contents h2{
        font-size: 25px;
        padding-bottom: 15px;
    }
    .contents p{
        font-size: 15px;
        padding-bottom: 30px;
    }
    .contents button a{
    font-size: 15px;
    }
    .contents button{
        padding: 10px;
        margin-left: 70px;
        margin-bottom: 30px;
    }

    /* onlineprescencesection */
    .onlineprescence{
        width: 100%;
    }
    .lefttexts h2{
        /* text-align: center; */
        margin-left: -50px;
        font-size: 20px;
    }
    .lefttexts p{
        font-size: 9px;
        margin-left: -70px;
    }
    .right h3{
        margin-left: -50px;
        margin-bottom: 50px;
    }
    .right img{
        margin-left: 5px;
        width: 300px;
    }
    /* footersection */
    .Footer{
        width: 100%;
    }
    .rightfooter{
    display: block;
    }
    .Footer img{
        width: 300px;
        margin-left: 50px;
    }
    .lastpart{
        margin-left: 35px;
    }
    .lastpart h5{
        padding-right: 70px;
    }
}