@font-face{
    font-family: 'circular std';
    src: url(circular-std-medium-500.ttf);
}
body{
    max-width: 1440px;
    margin: 0 auto;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box 0;
    /* overflow-x: hidden; */
}
.container{
    width: 100%;
}
header{
    display: flex;
    gap: 250px;
    padding-top: 43.58px;
}
.hamburger{
    display: none;
}
.headlogo{
    margin-left: 100px;
}
a :hover, a.active{
    background: blue;
}
ul{
    display: flex;
    gap: 40px;
    font-family: circular std;
    font-size: 18px;
    font-weight: 450;
    line-height: 22.77px;
    text-align: right;
    color:#60E1CB;
}
li span{
    color: black;
}
a li{
    list-style: none;
}
ul a{
    text-decoration: none;
    color: #60E1CB;
}
.headbtn{
    width: 188.49px;
height: 40px;
border: none;
border-radius: 30px;
background-color: #7BC0E3;
}
.headbtn a{
    color: white;
    font-family: Circular Std;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
}
.leftside img{
    margin-bottom: 22px;
}
.leftside h1{
    font-family: Circular Std;
font-size: 58px;
font-weight: 900;
margin-bottom: 22.9px;
}
h1 span{
    color: #60E1CB;
}
.leftside p{
    font-family: DM Sans;
font-size: 20px;
font-weight: 400;
line-height: 25px;
color: black;
margin-bottom: 52px;
}
.btn1{
    padding: 20px;
    border: none;
    border-radius: 50px;
    width: 188px;
    background-color:#60E1CB;
    font-family: Circular Std;
font-size: 20px;
font-weight: 700px;
box-shadow: 0px 20px 20px 0px #60E1CB8F;
}
.btn1 a{
    text-decoration: none;
    color: white;
}
.btn2{
    padding: 20px;
    border-radius: 50px;
    width: 188px;
    background-color: white;
    border: 1px solid #07003B2B
}
.btn2 a{
    font-family: Circular Std;
font-size: 20px;
font-weight: 700;
line-height: 24px;
color: #60E1CB;
    text-decoration: none;
}
.leftright{
    display: flex;
    margin-left: 100px;
    margin-top: 200px;
}
.analyseimg > img{
    width:100%;
} 
.analyseimg{
    /* width: 50%; */
    width: 50%;
    height: 50%;
    margin-bottom: 43.12px;
}
.spiral img{
    width: 500px;
    height: 500px;
    position: relative;
    bottom:200px;
    right: 100px;
}

.services{
    background-color: #E9FBF8;
    width: 1349px;
    padding-top: 118px;
    padding-bottom: 100px;
    /* position: absolute;  */
    /* top: 300px; */
    /* height: 1000px; */
    /* position: relative; */
    /* padding-top: 100px;
    margin-bottom: 100px; */
}
.head{
    text-align: center;
}
.head h2{
    font-family: Circular Std;
font-size: 48px;
font-weight: 700;
line-height: 60.72px;
margin-bottom: 25px;
}
.head h6{
    font-family: DM Sans;
font-size: 20px;
font-weight: 400;
line-height: 20.44px;
margin-bottom: 40px;
}
/* .upbox{
    display: flex;
    justify-content: space-evenly;
} */
.boxes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 70px;
}
.box1{
    background-color: #FDFDFF;
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 50px;
    width: 300px;
    height: 300px;
    border-top-color: #60E1CB;
    border-style: solid;
    border-bottom-color: #FFFFFF;
    border-left-color: #FFFFFF;
    border-right-color: #FFFFFF;
}
.box1 img{
    width: 40px;
    height: 35px;
    padding-bottom: 32px;
}
.box1 h4{
    font-family: Circular Std;
font-size: 20px;
font-weight: 700;
line-height: 25.3px;
padding-bottom: 30px;
}
.box1 p{
    font-family: DM Sans;
font-size: 16px;
font-weight: 500;
line-height: 20.83px;
padding-bottom: 40px;
}
.box1 h6{
    font-family: DM Sans;
font-size: 14px;
font-weight: 700;
line-height: 18.23px;
color: #7BC0E3;
}
.RM h6 img{
    width: 24px;
    height:7px;
}
.downbox{
     display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
/* .spiralbox{ */
    /* width: 200px; */
    /* height: 200px; */
    /* position: absolute; */
    /* left: 900px; */
    /* top: 2350px; */
    /* bottom: 180px; */
/* } */
/* .downbox{ */
    /* z-index: 5px; */
/* } */

.portfolio{
    background-color:#FFFFFF;
    width: 100%;
    padding-top: 70px;
}
.port p{
    font-family: circular std; 
    font-weight: 700px;
    font-size: 24px; 
   line-height: 30.36px;
   color: #7BC0E3;
   text-align: center;
}
.port h4{
    font-family: Circular Std;
font-size: 48px;
font-weight: 700;
text-align: center;
padding-bottom: 60.44px;
}
.port{
    line-height: 80px;
}
.tabs{
    display: flex;
    justify-content: space-evenly;
    font-family: Circular Std;
font-size: 20px;
font-weight: 700;
line-height: 25.3px;
align-items: center;
padding-bottom: 60px;
}
.tabs a{
    text-decoration: none;
    color: #7BC0E3;
}
.letter{
    border: 1px solid #7BC0E3;
    padding: 20px;
    border-radius: 35px;
}
.picture{
    background: rgba(96, 225, 203, 1);
    margin-top: 150px;
    width: 1349px;
    height: 400px;
    position: relative;
    padding-bottom: 80px;
}
.lessthan img{
    width: 1300px;
    position: absolute;
    top: 3055px;
    z-index: 2;
    margin-left: 10px;
}
.groupimg{
    display: flex;
    gap: 80px;
    margin-left: 61px;
    position: absolute;
    top:  3000px;
}
.groupimg img{
    width: 350px;
}
.groupimg p{
    font-family: Circular Std;
font-size: 18px;
font-weight: 450;
line-height: 30.64px;
}
.blackbtn button{
    padding: 20px;
    border-radius: 35px;
    width: 200px;
    height: 70px;
    background-color: black;
    border: none;
    position: absolute;
    top: 3540px;
    margin-left: 600px;
    box-shadow: 0px 20px 20px 0px #60E1CB8F;
}
.blackbtn a{
    text-decoration: none;
    color: #FDFDFF;
    font-family: Circular Std;
font-size: 24px;
font-weight: 700;
line-height: 30.36px;
}

.ideas{
    background-color:#FFFFFF;
    width: 1348px;
    padding-top: 95px;
}
/* .ideas img{
    left: 600px;
} */
.head h3{
    font-family: Circular Std;
font-size: 48px;
font-weight: 700;
line-height: 60.72px;
text-align: left;
margin-left: 200px;
}
.ideas span{
    color: #60E1CB;
}
.head p{
    font-family: DM Sans;
font-size: 20px;
font-weight: 500;
line-height: 33.64px;
text-align: left;
margin-left: 200px;
}
.numbertext{
    display: flex;
    gap: 49px;
    margin-left: 200px;
    margin-top: 50px;
}
.numbers button{
    display: block;
    padding: 20px;
    border-radius: 50px ;
    background-color: #FFFFFF;
    /* margin-bottom: 40px; */
    bottom: -30px;
    width: 80px;
height: 80px;
box-shadow: 0px 32px 60px 0px #00000021;
border: none;
}
.b1{
    margin-bottom: 50px;
}
.numbers a{
    text-decoration: none;
    color: #7BC0E3;
    font-family: Circular Std;
font-size: 32px;
font-weight: 900;
}
.texts h5{
    font-family: Circular Std;
font-size: 24px;
font-weight: 700;
line-height: 30.36px;
    color: #60E1CB;
    padding-bottom: 10px;
}
.texts p{
    font-family: DM Sans;
font-size: 16px;
font-weight: 500;
line-height: 25.15px;
color: black;
padding-bottom: 5px;
}
.wr img{
    width: 600px;
    height: 600px;
    position: relative;
    bottom:300px ;
    margin-left: 420px;
}
.banner{
    background-color: #60E1CB;
    position:relative;
    top: -400px;
    width: 1349px;
}
.banner img{
    width:500px;
    height: 250px;
}
.contents h2{
    font-family: Circular Std;
font-size: 48px;
font-weight: 700;
line-height: 60.72px;
text-align: center;
padding-bottom: 25px;
}
.contents p{
    font-family: DM Sans;
font-size: 24px;
font-weight: 400;
line-height: 24.53px;
text-align: center;
padding-bottom: 80px;
}
.contents button{
    padding: 20px;
    border-radius: 40px;
    background-color: black;
    border: none;
    margin-left: 450px;
}
.contents button a{
    text-decoration: none;
    color: white;
    font-family: Poppins;
font-size: 22px;
font-weight: 600;
line-height: 33px;
}
button:hover , button.active{
    background-color: blue;
}
.vector2 img{
    margin-left: 800px;
    width: 549px;
}

.clients{
    background-color: white;
    width: 1349px;
    height: 800px;
}
.imgclient img{
    position: absolute;
    width: 200px;
    height: 200px;
    margin-top: 200px;
}
.clienttexts h4{
    font-family: Circular Std;
font-size: 24px;
font-weight: 700;
line-height: 30.36px;
letter-spacing: 0.006em;
text-align: center;
color: #7BC0E3;
padding-bottom: 16px;
}
.clienttexts h2{
font-family: Circular Std;
font-size: 48px;
font-weight: 700;
line-height: 60.72px;
text-align: center;
color: black;
padding-bottom: 50px;
}
.background{
    background-color:white;
    height: 300px;
    box-shadow: 0px 97px 90px 0px #07003B1F;
    /* z-index: 100px; */
    margin-bottom: 51.26px;
}
.background h5{
    font-family: Circular Std;
font-size: 32px;
font-weight: 700;
line-height: 40.48px;
text-align: center;
padding-top: 65px;
}
.background img{
    margin-left: 575px;
    width: 200px;
    height: 40px;
}
.background p{
    font-family: Circular Std;
font-size: 24px;
font-style: italic;
font-weight: 500;
line-height: 42.53px;
text-align: center;
}
.person{
    margin-left: 380px;
    margin-bottom: 30.99px;
}
.clientcompanyname h6{
    font-family: Circular Std;
font-size: 22px;
font-weight: 700;
line-height: 27.83px;
text-align: center;
margin-bottom: 10.66px;
}
.clientcompanyname p{
    font-family: Circular Std;
font-size: 16px;
font-weight: 450;
line-height: 20.24px;
letter-spacing: 0.20000000298023224px;
text-align: center;
color: #60E1CB;
}

.blogs{
    background-color: #E9FBF8;
    width: 1349px;
    height: 700px;
}
.groupflex{
    display: flex;
    gap: 184px;
    padding-top: 150px;
}
.left{
    margin-left: 100px;
}
.left p{
    font-family: Circular Std;
font-size: 24px;
font-weight: 700;
line-height: 30.36px;
letter-spacing: 0.006em;
text-align: left;
color: #60E1CB;
margin-bottom: 22px;
}
.left h2{
    font-family: Circular Std;
    font-size: 35px;
    font-weight: 700;
    text-align: left;   
    margin-bottom: 22px;  
}
.left h5{
    font-family: DM Sans;
font-size: 18px;
font-weight: 500;
text-align: left;
margin-bottom: 45px;
}
.left button{
    border-radius: 45px;
    width: 180px;
    height: 60px;
    border: 1px solid #7BC0E3;
    background-color: #E9FBF8;
}
.left button a{
    text-decoration: none;
    font-family: Circular Std;
font-size: 20px;
font-weight: 700;
line-height: 25.3px;
text-align: center;
color: #7BC0E3;
}

.blogflex{
    display: flex;
    gap: 30px;
}
.blog1{
    background-color:white;
    border-radius: 16px;
    padding: 5px;
    width: 250px;
    height: 300px;
    z-index: 1;
}
.blog1 h4{
font-family: Circular Std;
font-size: 20px;
font-weight: 700;
line-height: 24px;
margin-bottom: 14px;
margin-top: 70px;
margin-left: 20px;
}
.blog1 p{
    font-family: DM Sans;
font-size: 12px;
font-weight: 500;
margin-bottom: 35px;
opacity: 50%;
color: black;
margin-left: 20px;
}
.blog1 a{
    text-decoration: none;
    color: #7BC0E3;
    margin-left: 20px;
}
.blogs img{
    width: 300px;
    height: 255px;
    position: relative;
    margin-top: -130px;
    margin-left: 1049px;
}
.play img{
    width: 300px;
    height: 255px;
}

.Footer{
    background-color:#60E1CB;
    width: 1349px;
}
.footerall{
    display: flex;
    gap: 80px;
    padding: 80px;
}
.leftfooter h1{
    font-family: Circular Std;
    font-size: 32px;
    font-weight: 900;
    line-height: 40.48px;
    letter-spacing: 0.01em; 
}
.leftfooter a{
    text-decoration: none;
    color: black;
}
.leftfooter p{
    font-family: Circular Std;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    color: #292525;    
}
.work h5{
    font-family: Circular Std;
    font-size: 19px;
    font-weight: 700;
    line-height: 24.03px;
    margin-bottom: 25px;
}.work p{
   font-family: Circular Std;
font-size: 16px;
font-weight: 500;
line-height: 30px;
    margin-bottom: 6px;   
    opacity: 40%; 
}
.service h5{
font-family: Circular Std;
font-size: 19px;
font-weight: 700;
line-height: 24.03px;
margin-bottom: 25px;
}
.service p{
font-family: Circular Std;
font-size: 16px;
font-weight: 500;
line-height: 30px;
opacity: 40%;
margin-bottom: 6px;
}
.businesssolution h5{
    font-family: Circular Std;
font-size: 19px;
font-weight: 700;
line-height: 24.03px;
margin-bottom: 20px;
}
.businesssolution p{
    font-family: Circular Std;
font-size: 16px;
font-weight: 500;
line-height: 30px;
margin-bottom: 6px;
opacity: 40%;
}
select h5{
    border: none;
}
.Footer img{
    width: 1140px;
    margin-left: 120px;
    margin-bottom: 48px;
}
.lastpart{
    display: flex;
    margin-left: 115px;
    padding-bottom: 100px;
}
.lastpart h5{
    font-family: Circular Std;
font-size: 16px;
font-weight: 450;
line-height: 20.24px;
text-align: left;
padding-right: 850px;
}
.lastpart a{
    text-decoration: none;
    font-family: Circular Std;
font-size: 19px;
font-weight: 700;
line-height: 24.03px;
color: black;
padding-left: 29px;
}

    /* responsiveness */
@media (min-width:1024px) and (max-width: 1250px) {
    header{
        gap: 100px;
    }
    .headlogo{
        margin-left: 70px;
    }
    ul{
        gap: 25px;
    }
    .headbtn{
        width: 160px;
    }
    .leftright{
        margin-left: 70px;
    }
    .spiral img{
        bottom: 70px;
        right: 120px;
    }

    /* servicesection */
    .services{
        width: 100%;
    }
    .boxes{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin-left: 60px;
    }
    .box1{
        width: 200px;
    }
    .box1 h4{
        font-size: 15px;
    }
    .box1 p{
        font-size: 11px;
    }

    /* portfoliosection */
    .picture{
        width: 100%;
    }
    .lessthan img{
        width: 975px;
        top: 2980px;
    }
    .groupimg{
        gap: 50px;
        margin-left: 50px;
        top: 2920px;
    }
    .groupimg img{
        width: 250px;
    }
    .groupimg p{
        font-size: 15px;
    }
    .blackbtn button{
        top: 3440px;
        margin-left: 400px;
    }

    /* ideasection */
    .ideas{
        width: 100%;
    }
    .head h3 {
        margin-left: 80px;
    }
    .head p{
        font-size: 15px;
        margin-left:80px;
    }
    .numbertext{
        margin-left: 80px;
        padding-bottom: 80px;
    }
    .texts p{
        font-size: 13px;
    }
    .wr img{
        width: 377px;
        height: 400px;
        bottom: 220px;
    }

    /* bannersection */
    .banner{
        width:100%;
    }
    .banner img{
        width: 400px;
        height:200px;
    }
    .contents button{
        margin-left: 295px;
    }
    .vector2 img{
        margin-left:608px;
    }

    /* clientsection */
    .clients{
        width: 100%;
    }
    .background img{
        margin-left: 400px;
    }
    .person {
        margin-left: 200px;
    }

    /* blogsection */

    .blogs{
        width: 100%;
        /* padding: 30px; */
    }
    .groupflex{
        gap: 80px;
    }
    .left{
        margin-left: 60px;
    }
    .left h2{
        font-size: 28px;
    }
    .left h5{
        font-size: 11px;
    }
    .blogflex{
        gap: 20px;
    }
    .blog1{
        height: 260px;
        width: 200px;
    }
    .blog1 h4{
        margin-top: 30px;
        font-size: 14px;
    }
    .blog1 p{
        font-size: 10px;
    }
    .blogs img{
        margin-left: 700px;
    }


        /* footersection */
        .Footer{
            width: 100%;
        }
        .footerall{
            gap: 20px;
        }
        .leftfooter h1{
            font-size: 28px;
            margin-left: -30px;
        }
        .leftfooter p{
            font-size: 12px;
            margin-left: -30px;
            padding-right: 30px;
        }
        .Footer img{
            width: 900px;
            margin-left: 60px;
        }
        .lastpart{
            margin-left: 70px;
        }
        .lastpart h5{
            padding-right: 600px;
        }
}