@font-face{
    font-family: 'circular std';
    src: url(circular-std-medium-500.ttf);
}
body{
    max-width: 1440px;
    margin: 0 auto;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box 0;
    /* overflow-x: hidden; */
}
.container{
    width: 100%;
}
header{
    display: flex;
    gap: 250px;
    padding-top: 43.58px;
}
.hamburger{
    display: none;
    position: absolute;
    right: 20px;
    cursor: pointer;
    transition: 0.4s;
}
.hamburger.{
    translate: (5px, 5px);
}
nav{
    position: absolute;
    background-color: yellow;
    color: red;
    display: none;
    line-height: 100px;
}
.headlogo{
    margin-left: 100px;
}
a :hover, a.active{
    color: blue;
}
ul{
    display: flex;
    gap: 40px;
    font-family: circular std;
    font-size: 18px;
    font-weight: 450;
    line-height: 22.77px;
    text-align: right;
    color:#60E1CB;
}
li span{
    color: black;
}
a li{
    list-style: none;
}
ul a{
    text-decoration: none;
    color: #60E1CB;
}
.headbtn{
    width: 188.49px;
height: 40px;
border: none;
border-radius: 30px;
background-color: #7BC0E3;
cursor: pointer;
transition: all .3s ease-in-out;
}
.headbtn a{
    color: white;
    font-family: Circular Std;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
}
.leftside img{
    margin-bottom: 22px;
}
.leftside h1{
    font-family: Circular Std;
font-size: 58px;
font-weight: 900;
margin-bottom: 22.9px;
}
h1 span{
    color: #60E1CB;
}
.leftside p{
    font-family: DM Sans;
font-size: 20px;
font-weight: 400;
line-height: 25px;
color: black;
margin-bottom: 52px;
}
.btn1{
    padding: 20px;
    border: none;
    border-radius: 50px;
    width: 188px;
    background-color:#60E1CB;
    font-family: Circular Std;
font-size: 20px;
font-weight: 700px;
box-shadow: 0px 20px 20px 0px #60E1CB8F;
}
.btn1 a{
    text-decoration: none;
    color: white;
}
.btn2{
    padding: 20px;
    border-radius: 50px;
    width: 188px;
    background-color: white;
    border: 1px solid #07003B2B
}
.btn2 a{
    font-family: Circular Std;
font-size: 20px;
font-weight: 700;
/* line-height: 24px; */
color: #60E1CB;
    text-decoration: none;
}
.leftright{
    display: flex;
    margin-left: 100px;
    margin-top: 200px;
}
.analyseimg > img{
    width:100%;
} 
.analyseimg{
    /* width: 50%; */
    width: 50%;
    height: 50%;
    margin-bottom: 43.12px;
}
.spiral img{
    width: 500px;
    height: 500px;
    position: relative;
    bottom:200px;
    right: 100px;
}

.services{
    background-color: #E9FBF8;
    width: 1349px;
    padding-top: 118px;
    padding-bottom: 100px;
    /* position: absolute;  */
    /* top: 300px; */
    /* height: 1000px; */
    /* position: relative; */
    /* padding-top: 100px;
    margin-bottom: 100px; */
}
.head{
    text-align: center;
}
.head h2{
    font-family: Circular Std;
font-size: 48px;
font-weight: 700;
line-height: 60.72px;
margin-bottom: 25px;
}
.head h6{
    font-family: DM Sans;
font-size: 20px;
font-weight: 400;
line-height: 20.44px;
margin-bottom: 40px;
}
/* .upbox{
    display: flex;
    justify-content: space-evenly;
} */
.boxes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 70px;
}
.box1{
    background-color: #FDFDFF;
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 50px;
    width: 300px;
    height: 300px;
    border-top-color: #60E1CB;
    border-style: solid;
    border-bottom-color: #FFFFFF;
    border-left-color: #FFFFFF;
    border-right-color: #FFFFFF;
}
.box1 img{
    width: 40px;
    height: 35px;
    padding-bottom: 32px;
}
.box1 h4{
    font-family: Circular Std;
font-size: 20px;
font-weight: 700;
line-height: 25.3px;
padding-bottom: 20px;
}
.box1 p{
    font-family: DM Sans;
font-size: 16px;
font-weight: 500;
line-height: 20.83px;
/* padding-bottom: 40px; */
}
/* .box1 h6{
    font-family: DM Sans;
font-size: 14px;
font-weight: 700;
line-height: 18.23px;
color: #7BC0E3;
} */
.box1 span{
    color: #7BC0E3;
}
/* readmore */
.hidden-text{
    display: none;
}
.show-hidden-text {
	display: block;
}
/* .RM h6 img{
    width: 24px;
    height:7px;
} */
.portfolio{
    background-color:#FFFFFF;
    width: 100%;
    padding-top: 70px;
}
.port p{
    font-family: circular std; 
    font-weight: 700px;
    font-size: 24px; 
   line-height: 30.36px;
   color: #7BC0E3;
   text-align: center;
}
.port h4{
    font-family: Circular Std;
font-size: 48px;
font-weight: 700;
text-align: center;
padding-bottom: 60.44px;
}
.port{
    line-height: 80px;
}
.tabs{
    display: flex;
    justify-content: space-evenly;
    font-family: Circular Std;
font-size: 20px;
font-weight: 700;
line-height: 25.3px;
align-items: center;
padding-bottom: 60px;
}
.tabs a{
    text-decoration: none;
    color: #7BC0E3;
}
.letter{
    border: 1px solid #7BC0E3;
    padding: 20px;
    border-radius: 35px;
}
.picture{
    background: rgba(96, 225, 203, 1);
    margin-top: 150px;
    width: 1349px;
    height: 400px;
    position: relative;
    padding-bottom: 80px;
}
.lessthan img{
    width: 1300px;
    position: absolute;
    top: 3055px;
    z-index: 2;
    margin-left: 10px;
}
.groupimg{
    display: flex;
    gap: 80px;
    margin-left: 61px;
    position: absolute;
    top:  3000px;
}
.groupimg img{
    width: 350px;
}
.groupimg p{
    font-family: Circular Std;
font-size: 18px;
font-weight: 450;
line-height: 20px;
}
.blackbtn button{
    padding: 20px;
    border-radius: 35px;
    width: 200px;
    height: 70px;
    background-color: black;
    border: none;
    position: absolute;
    top: 3540px;
    margin-left: 600px;
    box-shadow: 0px 20px 20px 0px #60E1CB8F;
}
.blackbtn a{
    text-decoration: none;
    color: #FDFDFF;
    font-family: Circular Std;
font-size: 24px;
font-weight: 700;
line-height: 30.36px;
}

.ideas{
    background-color:#FFFFFF;
    width: 1348px;
    padding-top: 95px;
}
.head h3{
    font-family: Circular Std;
font-size: 48px;
font-weight: 700;
line-height: 60.72px;
text-align: left;
margin-left: 200px;
}
.ideas span{
    color: #60E1CB;
}
.head p{
    font-family: DM Sans;
font-size: 20px;
font-weight: 500;
line-height: 33.64px;
text-align: left;
margin-left: 200px;
}
.numbertext{
    display: flex;
    gap: 49px;
    margin-left: 200px;
    margin-top: 50px;
}
.numbers button{
    display: block;
    padding: 20px;
    border-radius: 50px ;
    background-color: #FFFFFF;
    bottom: -30px;
    width: 80px;
height: 80px;
box-shadow: 0px 32px 60px 0px #00000021;
border: none;
}
.b1{
    /* margin-bottom: 70px; */
    /* margin-bottom: -70x; */
    padding-bottom: 25px;
}
.numbers a{
    text-decoration: none;
    color: #7BC0E3;
    font-family: Circular Std;
font-size: 32px;
font-weight: 900;
}
.texts h5{
    font-family: Circular Std;
font-size: 24px;
font-weight: 700;
line-height: 30.36px;
    color: #60E1CB;
    padding-bottom: 10px;
}
.texts p{
    font-family: DM Sans;
font-size: 16px;
font-weight: 500;
line-height: 25.15px;
color: black;
padding-bottom: 5px;
}
.wr img{
    width: 600px;
    height: 600px;
    position: absolute;
    /* top:-700px ; */
    margin-top: -300px;
    margin-left: 420px;
}
.banner{
    background-color: #60E1CB;
    position:relative;
    top: 180px;
    width: 1349px;
    z-index: 1;
}
.banner img{
    width:500px;
    height: 250px;
}
.contents h2{
    font-family: Circular Std;
font-size: 48px;
font-weight: 700;
line-height: 60.72px;
text-align: center;
padding-bottom: 25px;
}
.contents p{
    font-family: DM Sans;
font-size: 24px;
font-weight: 400;
line-height: 24.53px;
text-align: center;
padding-bottom: 80px;
}
.contents button{
    padding: 20px;
    border-radius: 40px;
    background-color: black;
    border: none;
    margin-left: 500px;
}
.contents button a{
    text-decoration: none;
    color: white;
    font-family: Poppins;
font-size: 22px;
font-weight: 600;
line-height: 33px;
}
button:hover , button.active{
    background-color: blue;
}
.vector2 img{
    margin-left: 800px;
    width: 549px;
}

.clients{
    background-color: white;
    width: 1349px;
    height: 800px;
    margin-top: 300px;
}
.imgclient img{
    position: absolute;
    width: 200px;
    height: 200px;
    margin-top: 200px;
}
.clienttexts h4{
    font-family: Circular Std;
font-size: 24px;
font-weight: 700;
line-height: 30.36px;
letter-spacing: 0.006em;
text-align: center;
color: #7BC0E3;
padding-bottom: 16px;
}
.clienttexts h2{
font-family: Circular Std;
font-size: 48px;
font-weight: 700;
line-height: 60.72px;
text-align: center;
color: black;
padding-bottom: 50px;
}
.background{
    background-color:white;
    height: 300px;
    box-shadow: 0px 97px 90px 0px #07003B1F;
    /* z-index: 100px; */
    margin-bottom: 51.26px;
}
.background h5{
    font-family: Circular Std;
font-size: 32px;
font-weight: 700;
line-height: 40.48px;
text-align: center;
padding-top: 65px;
}
.background img{
    margin-left: 575px;
    width: 200px;
    height: 40px;
}
.background p{
    font-family: Circular Std;
font-size: 24px;
font-style: italic;
font-weight: 500;
line-height: 30px;
text-align: center;
}
.person img{
    margin-left: 380px;
    margin-bottom: 30.99px;
}
.clientcompanyname h6{
    font-family: Circular Std;
font-size: 22px;
font-weight: 700;
line-height: 27.83px;
text-align: center;
margin-bottom: 10.66px;
}
.clientcompanyname p{
    font-family: Circular Std;
font-size: 16px;
font-weight: 450;
line-height: 20.24px;
letter-spacing: 0.20000000298023224px;
text-align: center;
color: #60E1CB;
}

.blogs{
    background-color: #E9FBF8;
    width: 1349px;
    height: 700px;
}
.groupflex{
    display: flex;
    gap: 184px;
    padding-top: 150px;
}
.left{
    margin-left: 100px;
}
.left p{
    font-family: Circular Std;
font-size: 24px;
font-weight: 700;
line-height: 30.36px;
letter-spacing: 0.006em;
text-align: left;
color: #60E1CB;
margin-bottom: 22px;
}
.left h2{
    font-family: Circular Std;
    font-size: 35px;
    font-weight: 700;
    text-align: left;   
    margin-bottom: 22px;  
}
.left h5{
    font-family: DM Sans;
font-size: 18px;
font-weight: 500;
text-align: left;
margin-bottom: 45px;
}
.left button{
    border-radius: 45px;
    width: 180px;
    height: 60px;
    border: 1px solid #7BC0E3;
    background-color: #E9FBF8;
}
.left button a{
    text-decoration: none;
    font-family: Circular Std;
font-size: 20px;
font-weight: 700;
line-height: 25.3px;
text-align: center;
color: #7BC0E3;
}

.blogflex{
    display: flex;
    gap: 30px;
}
.blog1{
    background-color:white;
    border-radius: 16px;
    padding: 5px;
    width: 250px;
    height: 300px;
    z-index: 1;
}
.blog1 h4{
font-family: Circular Std;
font-size: 20px;
font-weight: 700;
line-height: 24px;
margin-bottom: 14px;
margin-top: 70px;
margin-left: 20px;
}
.blog1 p{
    font-family: DM Sans;
font-size: 12px;
font-weight: 500;
margin-bottom: 35px;
opacity: 50%;
color: black;
margin-left: 20px;
}
.blog1 a{
    text-decoration: none;
    color: #7BC0E3;
    margin-left: 20px;
}
.blogs img{
    width: 300px;
    height: 255px;
    position: relative;
    margin-top: -130px;
    margin-left: 1049px;
}
.play img{
    width: 300px;
    height: 255px;
}

.Footer{
    background-color:#60E1CB;
    width: 1349px;
}
.footerall{
    display: flex;
    gap: 80px;
    padding: 80px;
}
.leftfooter h1{
    font-family: Circular Std;
    font-size: 32px;
    font-weight: 900;
    line-height: 40.48px;
    letter-spacing: 0.01em; 
}
.leftfooter a{
    text-decoration: none;
    color: black;
}
.leftfooter p{
    font-family: Circular Std;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    color: #292525;    
}
.rightfooter{
    display: flex;
    gap: 80px;
}
.work h5{
    font-family: Circular Std;
    font-size: 19px;
    font-weight: 700;
    line-height: 24.03px;
    margin-bottom: 25px;
}.work p{
   font-family: Circular Std;
font-size: 16px;
font-weight: 500;
line-height: 30px;
    margin-bottom: 6px;   
    opacity: 40%; 
}
.service h5{
font-family: Circular Std;
font-size: 19px;
font-weight: 700;
line-height: 24.03px;
margin-bottom: 25px;
}
.service p{
font-family: Circular Std;
font-size: 16px;
font-weight: 500;
line-height: 30px;
opacity: 40%;
margin-bottom: 6px;
}
.businesssolution h5{
    font-family: Circular Std;
font-size: 19px;
font-weight: 700;
line-height: 24.03px;
margin-bottom: 20px;
}
.businesssolution p{
    font-family: Circular Std;
font-size: 16px;
font-weight: 500;
line-height: 30px;
margin-bottom: 6px;
opacity: 40%;
}
select h5{
    border: none;
    background: transparent;
}
.Footer img{
    width: 1140px;
    margin-left: 120px;
    margin-bottom: 48px;
}
.lastpart{
    display: flex;
    margin-left: 115px;
    padding-bottom: 100px;
}
.lastpart h5{
    font-family: Circular Std;
font-size: 16px;
font-weight: 450;
line-height: 20.24px;
text-align: left;
padding-right: 850px;
}
.lastpart a{
    text-decoration: none;
    font-family: Circular Std;
font-size: 19px;
font-weight: 700;
line-height: 24.03px;
color: black;
padding-left: 29px;
}

    /* responsiveness */

@media (max-width: 1440px) {
    .heading{
        width: 100%;
    }
    .services{
        width: 100%;
    }
    /* .boxes{
        position: relative;
    }
    .read-more{
        position: absolute;
        margin-left: -270px;
        margin-top: 115px;
    } */
    .portfolio{
        width: 100%;
    }
    .picture{
        width: 100%;
    }
    .ideas{
        width: 100%;
    }
    .banner{
        width: 100%;
    }
    .clients{
        width: 100%;
    }
    .blogs{
        width: 100%;
    }
    .Footer{
        width: 100%;
    }
}


@media (max-width:1024px) {
    .headlogo{
        margin-left: 60px;
    }
    header{
        gap: 150px;
    }
    ul{
        gap: 30px;
        font-size: 13px;
    }
    .leftside h1{
        font-size: 51px;
    }
    .leftright{
        margin-left: 60px;
    }
    .spiral img{
        bottom:100px;
    }

    /* servicesection */
    .services{
        width: 100%;
    }
    .head{
        text-align: center;
    }
    /* .boxes{
        position: relative;
    }
    .read-more{
        position: absolute;
        margin-left: -100px;
        margin-top: 115px;
    } */
    .box1{
       width: 210px;
       height: 210px; 
    }
    .box1 h4{
    font-size: 15px;
    padding-bottom: 10px;
    }
    .box1 p{
        font-size: 11px;
        padding-bottom: 20px;
    }

    /* portfoliosection */
    .portfolio{
        width: 100%;
    }
    .picture{
        width: 100%;
    }
    .lessthan img{
        width: 1017px;
        margin-left: -10px;
        top: 2770px;
    }
    .groupimg{
        gap: 60px;
        top: 2700px;
        margin-left: 25px;
    }
    .groupimg img{
        width: 90%;
    }
    .groupimg p{
        font-size: 15px;
    }
    .blackbtn button{
        top: 3230px;
        margin-left: 400px;
    }

    /* ideasection */
    .ideas{
        width: 100%;
    }
    .head h3{
        margin-left: 100px;
    }
    .head p{
        margin-left: 100px;
    }
    .numbertext{
        margin-left: 100px;
    }
    .wr img{
        height: 360px;
        width: 360px;
        margin-top: -180px;
    }

    /* bannersection */
    .banner{
        width: 100%;
        top: 100px;
    }
    .contents button{
        margin-left: 330px;
    }
    .vector2 img{
        margin-left:455px;
    }

    /* clientsection */
    .clients{
        width: 100%;
    }
    .background img{
        margin-left: 400px;
    }
    .person {
        margin-left: -180px;
    }

    /* blogsection */
    .blogs{
        width: 100%;
    }
    .groupflex{
        gap: 80px;
    }
    .left{
        margin-left: 60px;
    }
    .left h2{
        font-size: 28px;
    }
    .left h5{
        font-size: 9px;
    }
    .blogflex{
        gap: 20px;
    }
    .blog1{
        height: 260px;
        width: 200px;
    }
    .blog1 h4{
        margin-top: 30px;
        font-size: 14px;
    }
    .blog1 p{
        font-size: 10px;
    }
    .blogs img{
        margin-left: 700px;
    }

    /* footrsection */
    .Footer{
        width: 100%;
    }
    .footerall{
        gap: 22px;
    }
    .leftfooter h1{
        font-size: 28px;
        margin-left: -30px;
    }
    .leftfooter p{
        font-size: 8px;
        margin-left: -30px;
        padding-right: 30px;
    }
    .rightfooter{
        gap: 50px;
    }
    /* .businesssolution h5{
        font-size: 10px;
    } */
    .Footer img{
        width: 900px;
        margin-left: 60px;
    }
    .lastpart{
        margin-left: 70px;
    }
    .lastpart h5{
        padding-right: 600px;
    }
}

@media (max-width:768px) {
    .heading{
        width: 100%;
    }
    header{
        gap: 100px;
    }
    ul{
        gap: 30px;
    }
    .headbtn{
        display: none;
    }
    .leftside h1{
        font-size: 40px;
    }
    .btn1{
        width: 155px;
    }
    .btn2{
        width: 155px;
    }
    .spiral img{
        display: none;
    }
    .btns{
        margin-bottom: 80px;
    }

    /* servicesection */
    .services{
        width: 100%;
    }
    .boxes{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-left: 80px;
    }

    /* portfoliosection */
    .portfolio{
        width: 100%;
    }
    .portfolio h4{
        padding-bottom: 40px;
    }
    .picture{
        margin-top: 130px;
        height: 150px;
    }
    .lessthan img{
       display: none;
    }
    .groupimg{
        top: 2550px;
        margin-left: 20px;
    }
    .groupimg p{
        font-size: 10px;
        line-height: 15px;
    }
    .blackbtn button{
        top: 2840px;
        margin-left: 300px;
        width: 150px;
        height: 50px;
        padding: 10px;
    }

    /* ideasection */
    .ideas{
        width: 100%;
    }
    .head h3{
        font-size: 35px;
        margin-left: 80px;
    }
    .head p{
        font-size: 9px;
        margin-left: 80px;
        line-height:20px;
    }
    .numbertext{
        margin-left: 80px;
    }
    .numbers button{
        width: 50px;
        height: 50px;
        padding: 10px;
    }
    .texts h5{
        font-size: 20px;
    }
    .texts p{
        font-size: 10px;
    }
    .wr img{
        width: 300px;
        height: 300px;
        margin-left: 272px;
    }

    /* bannersecton */
    .banner{
        position: relative;
        top: 60px;
        width: 100%;
    }
    .banner img{
        width: 300px;
        height: 200px;
    }
    .contents h2{
        font-size: 35px;
        padding-bottom: 20px;
    }
    .contents p{
        font-size: 18px;
        padding-bottom:25px;
    }
    .contents button{
        margin-left: 255px;
        padding: 10px;
    }
    .contents button a{
        font-size: 15px;
    }
    .vector2 img{
        margin-left: 454px;
        width: 300px;
    }

    /* clientsection */
    .clients{
        width: 100%;
        margin-top: 150px;
    }
    .clienttexts h4{
        font-size: 22px;
    }
    .clienttexts h2{
        font-size: 40px;
        padding-bottom: 20px;
    }
    .background h5{
        padding-top: 40px;
    }
    .background img{
        margin-left: 270px;
    }
    .background p{
        font-size: 15px;
    }
    .person img{
        margin-left:300px;
        width: 500px;
    }

    /* blogsection */
    .blogs{
        width: 100%;
    }
    .groupflex{
        display: block;
        padding-top: 30px;
    }
    .left{
        margin-left: 200px;
    }
    .left p{
        margin-bottom: 10px;
        font-size: 24px;
    }
    .left h2{
        margin-bottom: 10px;
        font-size: 35px;
    }
    .left h5{
        margin-bottom: 15px;
        font-size: 18px;
    }
    .left button{
        width: 130px;
        height: 40px;
    }
    .blogflex{
        gap: 10px;
        width: 80%;
        margin-left: 75px;
        margin-top: 60px;
    }
    .blog1 {
        height: 200px;
    }
    .blog1 h4{
        font-size: 10px;
        line-height: 14px;
        margin-top: 40px;
    }
    .blog1 p{
        font-size: 7px;
    }
    .blogs img{
        margin-left: 331px;
        width: 255px;
    }
    
    /* footersection */
    .Footer{
        width: 100%;
    }
    .footerall{
        display: block;
    }
    .leftfooter h1{
        font-size: 32px;
        text-align: center;
    }
    .leftfooter p{
        font-size: 16px;
        text-align: center;
        margin-top: 20px;
    }
    .rightfooter{
        margin-top: 40px;
        gap: 35px;
        }
        .work h5{
            font-size: 15px;
            margin-bottom: 10px;
        }
        .work p{
            font-size: 15px;
            line-height: 15px;
        }
        .service h5{
            font-size: 15px;
            margin-bottom: 10px;
        }
        .service p{
         font-size: 15px;
        line-height: 15px;
        }
        .businesssolution h5{
            font-size:15px;
            margin-bottom: 10px;
        }
        .businesssolution p{
            font-size: 15px;
            line-height: 15px;
        }
        .Footer img{
            width: 550px;
            margin-left: 75px;
            margin-bottom: 30px;
        }
        .lastpart{
            margin-left: 79px;
        }
        .lastpart h5{
            padding-right:320px;
            font-size: 14px;
        }
        .lastpart a{
            padding-left: 18px;
            font-size: 14px;
        }
}

@media (max-width:428px) {
    .heading{
        width: 100%;
    }
    nav{
        display: none;
    }
    .headlogo{
        margin-left: 30px;
    }
    .hamburger{
        display: block;
    }
    .leftside h1{
        font-size: 39px;
    }
    .leftright{
        margin-left: 30px;
    }
    .analyseimg{
        display: none;
    }

    /* servicesection */
    .services{
        width: 100%;
        padding-top: 60px;
    }
    .head h2{
        font-size: 40px;
        margin-bottom: 10px;
    }
    .head h6{
        font-size: 10px;
    }.boxes{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 70px;
    }

    /* portfoliosection */
    .portfolio{
        width: 100%;
    }
    .port h4{
        font-size: 40px;
    }
    .tabs{
        font-size: 10px;
        padding-bottom: 30px;
    }
    .letter{
        padding:10px;
    }
    .picture{
        margin-top: 70px;
    }
    .groupimg{
        top: 3330px;
        gap: 10px;
    }
    .groupimg p{
        font-size: 5px;
    }
    .blackbtn button{
        top: 3560px;
        margin-left: 160px;
        padding: 5px;
    }

    /* ideasection */
    .ideas{
        width: 100%;
    }
    .head h3{
        font-size: 30px;
        margin-left: 50px;
    }
    .head p{
        font-size: 7px;
        margin-left: 50px;
    }
    .numbertext{
        margin-left: 20px;
        gap: 20px;
    }
    .texts h5{
        font-size: 15px;
        line-height: 10px;
    }
    .texts p{
        font-size: 8px;
    }
    .wr img{
        display: none;
    }

    /* bannersection */
    .banner{
        width: 100%;
        height: 250px;
    }
    .banner img{
        display:none;
    }
    .contents h2{
        font-size: 28px;
        padding-bottom: 10px;
        padding-top: 20px;
    }
    .contents p{
        font-size: 15px;
    }
    .contents button{
        padding: 8px;
        margin-left: 78px;
    }
    .vector2 img{
        display: none;
    }

    /* clientsection */
    .clients{
        width: 100%;
        height: 700px;
    }
    .clienttexts h2{
        font-size: 35px;
    }
    .background img{
        margin-left: 100px;
    }
    .background p{
        font-size: 15px;
    }
    .person img{
        margin-left: 200px;
        width: 60%;
    }

    /* blogssection */
    .blogs{
        width: 100%;
        height: 500px;
    }
    .groupflex{
        padding-top: 80px;
    }
    .blogflex{
        display: none;
    }
    .left{
        margin-left: 50px;
    }
    .left h5{
        font-size: 15px;
    }
    .blogs img{
        margin-left: 60px;
    }

    /* footersection */
    .Footer{
        width: 100%;
    }
    .left h1{
        line-height: 20px;
    }
    .leftfooter p{
        font-size: 10px;
        line-height: 15px;
    }
    .rightfooter{
        display: block;
    }
    .work p{
        line-height: 30px;
    }
    .service h5{
        margin-top: 20px;
    }
    .service p{
        line-height: 30px;
    }
    .businesssolution h5{
        margin-top: 20px;
    }
    .businesssolution p {
        line-height: 30px;
    }
    .Footer img{
        width: 270px;
    }
    .lastpart h5{
        font-size: 10px;
        padding-right: 86px;
    }
    .lastpart a{
        font-size: 10px;
    }
}


@media (max-width:425px) {
    .heading{
        width: 100%;
    }
    nav{
        display: none;
    }
    .headlogo{
        margin-left: 30px;
    }
    .hamburger{
        display: block;
    }
    .leftside h1{
        font-size: 39px;
    }
    .leftright{
        margin-left: 30px;
    }
    .analyseimg{
        display: none;
    }

    /* servicesection */
    .services{
        width: 100%;
        padding-top: 60px;
    }
    .head h2{
        font-size: 40px;
        margin-bottom: 10px;
    }
    .head h6{
        font-size: 10px;
    }.boxes{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 70px;
    }

    /* portfoliosection */
    .portfolio{
        width: 100%;
    }
    .port h4{
        font-size: 40px;
    }
    .tabs{
        font-size: 10px;
        padding-bottom: 30px;
    }
    .letter{
        padding:10px;
    }
    .picture{
        margin-top: 70px;
    }
    .groupimg{
        top: 3330px;
        gap: 10px;
    }
    .groupimg p{
        font-size: 5px;
    }
    .blackbtn button{
        top: 3560px;
        margin-left: 160px;
        padding: 5px;
    }

    /* ideasection */
    .ideas{
        width: 100%;
    }
    .head h3{
        font-size: 30px;
        margin-left: 50px;
    }
    .head p{
        font-size: 7px;
        margin-left: 50px;
    }
    .numbertext{
        margin-left: 20px;
        gap: 20px;
    }
    .texts h5{
        font-size: 15px;
        line-height: 10px;
    }
    .texts p{
        font-size: 8px;
    }
    .wr img{
        display: none;
    }

    /* bannersection */
    .banner{
        width: 100%;
        height: 250px;
    }
    .banner img{
        display:none;
    }
    .contents h2{
        font-size: 28px;
        padding-bottom: 10px;
        padding-top: 20px;
    }
    .contents p{
        font-size: 15px;
    }
    .contents button{
        padding: 8px;
        margin-left: 78px;
    }
    .vector2 img{
        display: none;
    }

    /* clientsection */
    .clients{
        width: 100%;
        height: 700px;
    }
    .clienttexts h2{
        font-size: 35px;
    }
    .background img{
        margin-left: 100px;
    }
    .background p{
        font-size: 15px;
    }
    .person img{
        margin-left: 200px;
        width: 60%;
    }

    /* blogssection */
    .blogs{
        width: 100%;
        height: 500px;
    }
    .groupflex{
        padding-top: 80px;
    }
    .blogflex{
        display: none;
    }
    .left{
        margin-left: 50px;
    }
    .left h5{
        font-size: 15px;
    }
    .blogs img{
        margin-left: 60px;
    }

    /* footersection */
    .Footer{
        width: 100%;
    }
    .left h1{
        line-height: 20px;
    }
    .leftfooter p{
        font-size: 10px;
        line-height: 15px;
    }
    .rightfooter{
        display: block;
    }
    .work p{
        line-height: 30px;
    }
    .service h5{
        margin-top: 20px;
    }
    .service p{
        line-height: 30px;
    }
    .businesssolution h5{
        margin-top: 20px;
    }
    .businesssolution p {
        line-height: 30px;
    }
    .Footer img{
        width: 270px;
    }
    .lastpart h5{
        font-size: 10px;
        padding-right: 86px;
    }
    .lastpart a{
        font-size: 10px;
    }
}

@media (max-width:375px) {
    .heading{
        width: 100%;
    }
    nav{
        display: none;
    }
    .headlogo{
        margin-left: 30px;
    }
    .hamburger{
        display: block;
    }
    .leftside h1{
        font-size: 32px;
    }
    .leftside p{
        font-size: 15px;
    }
    .leftright{
        margin-left: 30px;
    }
    .analyseimg{
        display: none;
    }

    /* servicesection */
    .services{
        width: 100%;
        padding-top: 60px;
    }
    .head h2{
        font-size: 35px;
        margin-bottom: 10px;
    }
    .head h6{
        font-size: 9px;
    }.boxes{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 45px;
    }

    /* portfoliosection */
    .portfolio{
        width: 100%;
    }
    .port h4{
        font-size: 40px;
    }
    .tabs{
        font-size: 10px;
        padding-bottom: 30px;
    }
    .letter{
        padding:10px;
    }
    .picture{
        margin-top: 70px;
    }
    .groupimg{
        top: 3300px;
        gap: 5px;
    }
    .groupimg p{
        font-size: 6px;
    }
    .blackbtn button{
        top: 3560px;
        margin-left: 160px;
        padding: 5px;
        display: none;
    }

    /* ideasection */
    .ideas{
        width: 100%;
    }
    .head h3{
        font-size: 25px;
        margin-left: 30px;
    }
    .head p{
        font-size: 10px;
        margin-left: 30px;
    }
    .numbertext{
        margin-left: 10px;
        gap: 20px;
    }
    .numbers button{
        padding: 10px;
    }
    .texts h5{
        font-size: 14px;
        line-height: 10px;
    }
    .texts p{
        font-size: 7px;
        line-height: 15px;
    }
    .wr img{
        display: none;
    }

    /* bannersection */
    .banner{
        width: 100%;
        height: 250px;
    }
    .banner img{
        display:none;
    }
    .contents h2{
        font-size: 25px;
        padding-bottom: 10px;
        padding-top: 20px;
    }
    .contents p{
        font-size: 15px;
        padding-bottom: 20px;
    }
    .contents button{
        padding: 5px;
        margin-left: 52px;
    }
    .vector2 img{
        display: none;
    }

    /* clientsection */
    .clients{
        width: 100%;
        height: 700px;
    }
    .clienttexts h2{
        font-size: 35px;
    }
    .background img{
        margin-left: 80px;
    }
    .background p{
        font-size: 12px;
    }
    .person img{
        margin-left: 200px;
        width: 60%;
    }

    /* blogssection */
    .blogs{
        width: 100%;
        height: 500px;
    }
    .groupflex{
        padding-top: 80px;
    }
    .blogflex{
        display: none;
    }
    .left{
        margin-left: 50px;
    }
    .left h5{
        font-size: 15px;
    }
    .blogs img{
        margin-left: 60px;
    }

    /* footersection */
    .Footer{
        width: 100%;
    }
    .left h1{
        line-height: 20px;
    }
    .leftfooter p{
        font-size: 10px;
        line-height: 15px;
    }
    .rightfooter{
        display: block;
    }
    .work p{
        line-height: 30px;
    }
    .service h5{
        margin-top: 20px;
    }
    .service p{
        line-height: 30px;
    }
    .businesssolution h5{
        margin-top: 20px;
    }
    .businesssolution p {
        line-height: 30px;
    }
    .Footer img{
        width: 270px;
    }
    .lastpart h5{
        font-size: 10px;
        padding-right: 86px;
    }
    .lastpart a{
        font-size: 10px;
    }
}

@media (max-width:320px) {
    .heading{
        width: 100%;
    }
    nav{
        display: none;
    }
    .headlogo{
        margin-left: 10px;
    }
    .hamburger{
        display: block;
        margin-left: -30px;
    }
    .leftside h1{
        font-size: 28px;
    }
    .leftside p{
        font-size: 15px;
    }
    .btn1{
        font-size: 10px;
        width: 100px;
        padding: 15px;
    }
    .btn2{
        width: 100px;
        padding: 15px;
    }
    .btn2 a{
        font-size: 10px
    }
    .leftright{
        margin-left: 30px;
    }
    .analyseimg{
        display: none;
    }

    /* servicesection */
    .services{
        width: 100%;
        padding-top: 60px;
    }
    .head h2{
        font-size: 30px;
        margin-bottom: 10px;
    }
    .head h6{
        font-size: 7px;
    }.boxes{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 18px;
    }

    /* portfoliosection */
    .portfolio{
        width: 100%;
    }
    .port h4{
        font-size: 30px;
    }
    .tabs{
        font-size: 8px;
        padding-bottom: 30px;
    }
    .letter{
        padding:10px;
    }
    .picture{
        margin-top: 70px;
    }
    .groupimg{
        top: 3290px;
        gap: 5px;
    }
    .groupimg p{
        font-size: 6px;
    }
    .blackbtn button{
        top: 3560px;
        margin-left: 160px;
        padding: 5px;
        display: none;
    }

    /* ideasection */
    .ideas{
        width: 100%;
    }
    .head h3{
        font-size: 25px;
        margin-left: 30px;
    }
    .head p{
        font-size: 9px;
        margin-left: 30px;
    }
    .numbertext{
        margin-left: 10px;
        gap: 20px;
    }
    .numbers button{
        padding: 10px;
    }
    .texts h5{
        font-size: 14px;
        line-height: 10px;
    }
    .texts p{
        font-size: 6px;
        line-height: 15px;
    }
    .wr img{
        display: none;
    }

    /* bannersection */
    .banner{
        width: 100%;
        height: 250px;
    }
    .banner img{
        display:none;
    }
    .contents h2{
        font-size: 22px;
        padding-bottom: 10px;
        padding-top: 20px;
    }
    .contents p{
        font-size: 12px;
        padding-bottom: 20px;
    }
    .contents button{
        padding: 5px;
        margin-left: 65px;
    }
    .contents button a{
        font-size: 10px;
    }
    .vector2 img{
        display: none;
    }

    /* clientsection */
    .clients{
        width: 100%;
        height: 700px;
    }
    .clienttexts h2{
        font-size: 30px;
    }
    .background img{
        margin-left: 55px;
    }
    .background p{
        font-size: 10px;
    }
    .person img{
        margin-left: 185px;
        width: 60%;
    }

    /* blogssection */
    .blogs{
        width: 100%;
        height: 500px;
    }
    .groupflex{
        padding-top: 80px;
    }
    .blogflex{
        display: none;
    }
    .left{
        margin-left: 50px;
    }
    .left h5{
        font-size: 15px;
    }
    .blogs img{
        margin-left: 60px;
    }

    /* footersection */
    .Footer{
        width: 100%;
    }
    .left h1{
        line-height: 20px;
    }
    .leftfooter p{
        font-size: 10px;
        line-height: 15px;
    }
    .rightfooter{
        display: block;
    }
    .work p{
        line-height: 30px;
    }
    .service h5{
        margin-top: 20px;
    }
    .service p{
        line-height: 30px;
    }
    .businesssolution h5{
        margin-top: 20px;
    }
    .businesssolution p {
        line-height: 30px;
    }
    .Footer img{
        width: 270px;
        margin-left: 15px;
    }
    .lastpart h5{
        font-size: 7px;
        padding-right: 75px;
        margin-left: -30px;
    }
    .lastpart a{
        font-size: 7px;
    }
}